body{
    background-image: url("/images/1.jpg");
    background-size: cover;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: Bradley Hand, cursive;
}

a.button {
    display: inline-block;
    color: #f5c18a;
    text-decoration: none;
    padding: .5em 2em;
    margin-top: 50px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 15px;
    background: linear-gradient(#301a03, #180d02);
    transition: 0.2s;
    width: 170px;
}
a.button:hover {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}
a.button:active {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}
#reg_back{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.9);
}
#sign_in{
    display: none;
}
.sign_in{
    position: absolute;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    color: #3b2611;
    width: 480px;
    height: 500px;
    margin: auto;
    background-color: rgb(247, 205, 161,0.75);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px;
    border-radius: 20px;
}
#log_in{
    display: none;
}
.log_in{
    position: absolute;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    color: #3b2611;
    width: 480px;
    height: 300px;
    margin: auto;
    background-color: rgb(247, 205, 161,0.75);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px;
    border-radius: 20px;
}
h1{
    text-align: center;
    margin-bottom: 15px;
}
.radio{
    margin-bottom: 25px;
}
.form{
    overflow: hidden;
    margin-left: 10px;
    vertical-align: central;
}
.form input{
    float: right;
    height: 30px;
    width: 250px;
    border: 1px;
    border-radius: 10px;
    margin-right: 10px;
    line-height: 19px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.submit{
    font-family: Bradley Hand, cursive;
    font-size: 24px;
    color: #f7cda1;
    display: inline-block;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 15px;
    background: linear-gradient(#301a03, #180d02);
    transition: 0.2s;
    margin-top: 20px;
}
.submit:hover {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}

form span {
    font-size: 13px;
}

/*#bc9c7b*/
.option {
    height: auto;
    padding-left: 10px;
    font-size: 28px;
    color: #130d07;
    font-weight: bold;
    width: 600px;
    margin: 0 auto;
}

.content{
    margin-top: 60px;
    width: 100%;
    height: 500px;
    text-align: center;
    z-index: 1;
}

.block {
    position: relative;
    width: 100%;
    height: 100%;
}

.fon {
    position: absolute;
    right: 0;
    left: 0;
    top: -60px;
    margin: 0 auto;
    width: 650px;
    height: 128%;
    background-color: rgb(247, 205, 161, 0.75);
    z-index: -1;
}

