body {
    margin: 0;
    font-family: Bradley Hand, cursive;
    font-size: 24px;
    color: #2f1a04;
    background: #fdf3e8;
    flex: 1 0 auto;

}

.logo {
    width: 100%;
    height: 150px;
    background: url("/images/origin.jpg");
    background-size: 100%;
}

.menu > div {
    background: #fdf3e8;
    height: 100%;
    width: 20%;

}

.menu-v {
    width: 100%;
    background: bisque;
    float: left;
    left: 0;
    top: 150px;
}

.menu-fixed {
    position: fixed;
    width: 12%;
}

.course {
    width: 80%;
    float: right;
}

div.main {
    background: #fdf3e8;
    height: 100%;
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    background: #a1684a;
}

.middle{
    min-height: calc(100vh - 250px);
}


.exit {
    color: #f5c18a;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 10px;
    background: rgb(48, 26, 3, 0.75);
    transition: 0.2s;
    width: 80px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;

}

.exit:hover {
    background: rgb(48, 26, 3, 0.95);
    border-color: #462706;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #2f1a04;
}

.menu-style {
    border-color: #2f1a04;
    border-style: solid none;
    width: 100%;
    margin: 10px;

}

.menu-style:hover {
    background: rgb(48, 26, 3, 0.65);
}

h1, h2, h3 {
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
    text-decoration: underline;
}

.lesson {
    border: 2px solid #180d02;
    margin: 30px;
    margin-right: 50px;
}

img {
    width: 40px;
}

.lesson img {
    width: 25px;
}

textarea {
    width: 200px;
    height: 50px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 5px;
}

input[type="file"]{
    margin: 15px;
}

#create-1 {
    position: fixed;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    color: #3b2611;
    width: 480px;
    height: 340px;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(247, 205, 161, 0.75);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px;
    border-radius: 20px;
    display: none;

}

.create-lesson{
    margin: 30px;
}


#back {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.9);
}

.submit {
    font-family: Bradley Hand, cursive;
    font-size: 24px;
    color: #f7cda1;
    display: inline-block;
    text-decoration: none;
    padding: .2em 1em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 15px;
    background: linear-gradient(#301a03, #180d02);
    transition: 0.2s;
    width: 180px;
    height: 30px;
}

.submit:hover {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}

.file-icon,
.pdf-icon,
.pptx-icon,
.doc-icon {
    width: 25px !important;
    height: 25px;
    display: inline-block;
}

.edit {
    color: #f5c18a;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 10px;
    background: linear-gradient(#301a03, #180d02);
    transition: 0.2s;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    margin-top: 40px;
}

.edit:hover {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
    cursor: pointer;
}

.edit:active {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}

.comment{
    position: relative;
    /*height: 200px;*/
    clear: both;
}

.avatar {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 10%;
    float: left;
    text-align: center;
}

.comment-body {
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 50px;*/
    float: right;
    width: 80%;
}

.date {
    position: absolute;
    top: -10px;
    right: 50px;
    font-size: small;
}