body {
    margin: 0;
    font-family: Bradley Hand, cursive;
    font-size: 24px;
    color: #2f1a04;
    background: #fdf3e8;

}

.logo {
    width: 100%;
    height: 150px;
    background: url("/images/origin.jpg");
    background-size: 100%;
}

.menu > div {
    background: #fdf3e8;
    height: 100%;
    width: 20%;

}

.menu-v {
    width: 100%;
    background: bisque;
    float: left;
    left: 0;
    top: 150px;
}

.menu-fixed {
    position: fixed;
    width: 12%;
}

.course {
    width: 80%;
    float: right;
}

div.main {
    background: #fdf3e8;
    height: 100%;
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    background: #a1684a;
}

.middle{
    min-height: calc(100vh - 250px);
}

.exit {
    color: #f5c18a;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 10px;
    background: rgb(48, 26, 3, 0.75);
    transition: 0.2s;
    width: 80px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;

}

.exit:hover {
    background: rgb(48, 26, 3, 0.95);
    border-color: #462706;
}

h1 {
    text-align: center;
    font-size: 34px;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
    color: #2f1a04;
}



.menu-style {
    border-color: #2f1a04;
    border-style: solid none;
    width: 100%;
    margin: 10px;

}

.menu-style:hover {
    background: rgb(48, 26, 3, 0.65);
}

.content{
    min-height: calc(100% + 100px);
    margin-bottom: 100px;
}
.content:after{
    content: '';
    display: block;
}
.content:after .footer{
    height: 100px;
}
.edit {
    color: #f5c18a;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #301a03 #000 #180d02;
    border-radius: 10px;
    background: linear-gradient(#301a03, #180d02);
    transition: 0.2s;
    width: 100px;
    height: 30px;
    margin-right: 20px;
    margin-top: 40px;
}

.edit:hover {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}

.edit:active {
    background: linear-gradient(#462706, #2f1a04);
    border-color: #462706;
}

